streamlit==1.41.1
pandas==2.2.3
langchain==0.3.14
langchain-core==0.3.29
langchain-text-splitters==0.3.5
langchain-community==0.3.14
langchain-huggingface==0.1.2
langchain-groq==0.2.3
groq==0.13.0

# Install without dependencies to avoid conflict
faiss-cpu==1.7.4 --no-deps
sentence-transformers==3.1.1 --no-deps
torch==2.4.1



